<div class="container">
  <div class="border-top">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2>Create a bookshelf</h2>
        <%= render 'form', bookshelf: @bookshelf %>
        <%= link_to 'Back', bookshelves_path %>
      </div>
    </div>
  </div>
</div>

