// Define variables for your color scheme

// For example:

// $navy: #1B2A49;
// $second: #1A2849;
//quite ok $navy: #29988d;
//quite ok too $navy: #3e9693;
// $navy: #f37b59;
// $navy: #f14b1bf2;
// $navy: #f7C548;
// test yellow: $navy: #ffd15d;
// $navy: #ee8572;
// $navy: #b7472a;
// $navy: #f45905;
$navy: #F2894E;


// test yellow/indogo $indigo: rgba(37, 89, 87, 0.7);
$indigo: rgba(37, 89, 87, 0.7);


$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
