// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css?family=Federo|Molengo|Philosopher|Spinnaker|Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Belleza&family=Convergence&family=Fresca&family=Molengo&family=Quicksand:wght@300&family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Encode+Sans+Expanded|Lexend+Exa|Pavanam|Spartan:300,400&display=swap');
// Define fonts for body and headers
$body-font: "Mukta Mahee";
$headers-font: "Lexend Exa";


// font-family: 'Lexend Exa', sans-serif;
// font-family: 'Spartan', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
