  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('books.png') %>);">
    <div class="container">
    <h1>Welcome to TravelWorms!</h1>
    <p>Discover and read the world in your <strong>own language</strong>!</p>
    <%= link_to "See all books", books_path, class: "btn btn-gradient" %>
  </div>
</div>
  <div class="container">
  <h2>This is a useless title for a far too long text</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Temporibus fugit repudiandae impedit, dolorem debitis itaque
  voluptatum. Consequuntur consectetur debitis facilis ducimus
  mollitia dolorem, impedit dolore facere explicabo optio
  necessitatibus laudantium?</p>
</div>

