<div class="banner" style="background-image: linear-gradient(rgba(50,0,0,0.4),rgba(0,0,0,0.8)), url(<%= asset_path('books.png') %>);">
  <div class="container">
    <h1>Welcome to TravelWorms!</h1>
    <p>Discover and read the world in your <strong>own language</strong>!</p>
    <%= link_to "See all books", books_path, class: "btn btn-gradient" %>
  </div>
</div>
  <div class="container">
  <h4>Read the world while discovering it...</h4>
  <p>Travel Worms was created by people who love to read for people who love to read. We believe that everyone should have access to knowledge, culture, and new experiences. Sign up now for free to start searching books from any country available in your preferred language.</p>
</div>

