.card-product {
  height: auto;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding: 25px 15px;
  margin-top: 10px;

    h5{
      font-weight: 400;
      // color: $color;
    }
}
.card-product-flex {
  display: flex;
}

.card-product-img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  padding-right: 15px;
  // object-fit: fill;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  .card-product-infos {
    padding: 16px;
}
}

  #big-justify {
    text-align: justify;
}
.review {
  background-color: blac;
  height: auto;
  width: auto;
  padding: 25px 15px;
  margin-top: 10px;
}

#trash {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

// cards for bookshelf items
.card-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  // background-color: red;
  padding: 7px;
}

.item-container {
display: flex;
// background-color: pink;
background-size: cover;
background-position: center;
// height: 180px;
justify-content: left;
align-items: top;
color: $indigo;
font-size: 24px;
font-weight: light;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
border-radius: 5px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
position: relative;
  // h5 {
  //   margin: 6px;
  // }

}

.formdown {
  position: absolute;
  right: 3px;
  top: 146px;
  width: 150px;
}

.trash-shelf {
  position: absolute;
  right: 170px;
  top: 155px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-items {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-items {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-items {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


