.card-product {
  height: auto;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding: 25px 15px;
  margin-top: 10px;

    h5{
      font-weight: 400;
      // color: $color;
    }
}
.card-product-flex {
  display: flex;
}

.card-product-img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  padding-right: 15px;
  // object-fit: fill;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  .card-product-infos {
    padding: 16px;
}
}

  #big-justify {
    text-align: justify;
}
.review {
  background-color: blac;
  height: auto;
  width: auto;
  padding: 25px 15px;
  margin-top: 10px;
}

#trash {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
