.navbar-lewagon {
  justify-content: space-between;
  background: $navy;
  color: $indigo;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $indigo;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
