.navbar-lewagon {
  justify-content: space-between;
  background: $indigo;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: #ffffff;
}

.nav-link-white {
  color: $indigo;
  &:hover {
    color: $indigo;
    opacity: 0.7;
  }
}

.navuser {
  color: $gold;
}


.dropdown-menu {
  width: 24vw;
  li {
  font-size: 24px;
  margin-bottom: 20px;
  }
}

.dropdown-menu .nav-item {
  text-decoration: none;
  margin-left: 20px;
}

// Small and medium device
@media (min-width: 100px) and (max-width: 992px) {
  .dropdown-menu {
  width: 75vw;
    li {
    font-size: 26px;
    margin-bottom: 20px;
    }
  }

}

.navbar-toggler .line{
  color: $gold;
}

.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 214, 131, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
